[Unit]
Description=Acre's distributed currency daemon
After=network.target

[Service]
User=acre
Group=acre

Type=forking
PIDFile=/var/lib/acred/acred.pid

ExecStart=/usr/bin/acred -daemon -pid=/var/lib/acred/acred.pid \
          -conf=/etc/acre/acre.conf -datadir=/var/lib/acred

ExecStop=-/usr/bin/acre-cli -conf=/etc/acre/acre.conf \
         -datadir=/var/lib/acred stop

Restart=always
PrivateTmp=true
TimeoutStopSec=60s
TimeoutStartSec=2s
StartLimitInterval=120s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
